* {
    padding: 0;
    margin: 0;
    font-size:100%;
    line-height: lem;
}
/*default style for entire page*/
body {
    color:#101010;
    border-color: #101010;
    background-color: #ffffff;
}
/*content container to centre content*/
.container {
    max-width: 1020px;
    margin: 0 auto 0 auto;
}
/*Adding google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Ledger&display=swap');

/*Default Headings styles*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Cinzel', Georgia, 'Times New Roman', Times,
    serif;
    line-height: 1.1;
    font-weight: 700;
}
/*Adding specific styles*/
h1 {
    font-size: 4.25rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: .5rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.75;
    margin-bottom: 0.5rem;
}

/*paragraphs*/
p {
    font-family: 'Ledger', Georgia, "Times New Roman", serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    font-style: normal;
}
h3 {
font-size: 2rem;
margin-bottom: 0.5rem;
}
h4 {
font-size: 1.75rem;
margin-bottom: 0.5rem;
}
/*List format*/
ul {
    list-style: disc outside;
    margin-bottom: 1.5rem;
    margin-left: 1.25rem;
    }
    ul li {
    font-family: "Ledger", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: .5rem;
    }
/* hyperlinks */
a {
    font-family:inherit;
    font-size:inherit;
    line-height: inherit;
    color: #ffffff;
    }
    a:hover {
        color:#ffffff;
        }
        a:visited {
        color:#ffffff;
        }
/*footer*/
footer {
    padding: 1.5rem 0 1.5rem 0;
    margin-top:2rem;
    border-top:1px solid #101010;
    }
/*Main*/
main{
    margin-bottom: 2.5rem;
    }
/*Header*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 8px 0 8px 0;
    overflow: hidden;
    background-color: #852002;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #852002;
  }
  
  .active {
    background-color: #04AA6D;
  }
.centre{
    margin: auto;
  width: 60%;
  padding: 10px;
}
        
