/*Adding google fonts*/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1rem;
}

/*default style for entire page*/
body {
    color: #101010;
    border-color: #101010;
    background-color: #0F291D;
}

/*content container*/
.container {
    max-width: 1020px;
    margin: 0 auto 0 auto;
}

/*Default Headings styles*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel', serif;
    line-height: 1.1;
    font-weight: 700;
}

/*Adding specific styles*/
h1 {
    font-size: 4.25rem;
    font-weight: bolder;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: .5rem;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;

}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;

}

h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;

}

/*paragraphs*/
p {
    font-family: 'Ledger', serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-style: normal;
}

/*List format*/
ul {
    list-style: disc outside;
    margin-bottom: 1.5rem;
    margin-left: 1.25rem;
}

ul li {
    font-family: "Ledger", serif;
    font-weight: 500;
    font-size: 16px;
    color: #eaeaea;
    text-decoration: none;
}

/* hyperlinks */
a {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #F3F3E0;
}

/*blockquote*/
figure.quote {
    border-left: 8px solid #fdc345;
    padding: 1.5rem 0 1.5rem 2rem;
}

figure.quote p {
    margin-bottom: 0;
}

figure.quote figcaption p {
    font-weight: 700;
}

/*footer*/
footer {
    width: 100%;
    align-content: center;
    background-color: #1A372A;
    font-size: 1rem;
    color: #F3F3E0;
    padding: 4rem 0 3rem 0;
    text-align: center;
}

/*Main*/
main {
    margin-bottom: 2.5rem;
}

/* images*/
img {
    width: 100%;
    height: auto;
}

/*Image with text*/
.imagecontainer {
    position: relative;
    text-align: center;
    color: #F3F3E0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*colour blocking*/
.intro {
    text-align: left;
    background-color: #F3F3E0;
    padding: 3rem 6rem;
    color: #0F291D;
    margin-bottom: 2.5rem;
}

.extract {
    text-align: center;
    background-color: #0F291D;
    padding: 2rem 2rem 0.5rem 2rem;
    font-size: 200%;
    font-weight: bolder;
    color: #F3F3E0;
}

.about {
    text-align: left;
    padding: 3rem 3rem;
    background-color: #F3F3E0;
    color: #0F291D;
    margin: 0 0 5rem 0;

}

.lummorn {
    margin-top: 5rem;
    text-align: left;
    padding: 3rem 0 3rem 0;
    background-color: #F3F3E0;
    color: #0F291D;

}

.market {
    text-align: left;
    padding: 3rem 0 3rem 0;
    background-color: #F3F3E0;
    color: #0F291D;

}

.street {
    text-align: left;
    padding: 3rem 0 3rem 0;
    background-color: #F3F3E0;
    color: #0F291D;

}

.furtherreading {
    text-align: left;
    padding: 8rem 6rem;
    background-color: #0F291D;
    color: #F3F3E0;

}

/*Header*/
.title {
    background-color: #232C25;
    color: #F3F3E0;
    font-weight: 400;
    font-size: 4.5rem;
    text-align: center;
    padding: 2.5rem;
    margin: 0;

}

/*Nav bar*/
ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 1rem 0;
    overflow: hidden;
    background-color: #1A372A;
}

li {
    display: inline-block;
}

li a {
    display: inline-block;
    color: #F3F3E0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #3A493D;
}

/*Dividers*/
hr.solid {
    border-top: 3px solid #F3F3E0;
}








/* media queries */
@media only screen and (max-width:1068px) {
    .container {
        margin: 0 24px 0 24px;
    }
}

@media only screen and (max-width: 890px) {

    h1 {
        font-size: 3.75rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.65rem;
    }

    h3 {
        font-size: 1.45rem;
    }

    p {
        font-size: 1.15rem;
        margin-bottom: 1rem;
    }

    .extract {
        font-size: 1.65rem;
    }


}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 3.25rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .extract {
        font-size: 1.6rem;
    }

    .grid {
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}


@media only screen and (max-width: 630px) {
    .container {
        margin: 0 16px 0 16px;
    }

    h1 {
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.4rem;
        margin-bottom: 0.9rem;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 0.55rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    ul {
        margin-bottom: 0;
    }

    ul li {
        font-size: 1rem;
        ;
    }

    .about {
        padding: 1.5rem;
    }

    .intro {
        padding: 1.5rem;
    }

    .furtherreading {
        padding: 1.5rem;
    }

    .extract {
        font-size: 1.4rem;
    }

}

@media only screen and (max-width: 496px) {
    h1 {
        font-size: 1.75rem;
        margin-bottom: 0.75rem;
    }

    h2 {
        font-size: 1.1rem;
        margin-bottom: 0.75rem;
    }

    h3 {
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }


    p {
        font-size: 0.75rem;
        margin-bottom: 0.75rem;
    }

    ul {
        margin-bottom: 0;
    }

    ul li {
        font-size: 0.75rem;
        ;
    }

    .extract {
        font-size: 1.1rem;
    }

    .intro {
        margin-bottom: 2.25rem;
    }
    .about{
        padding: 1.5rem 0 1.5rem 0;
    }
    .street{
        padding: 1.5rem 0 1.5rem 0;
    }
    .lummorn{
        padding: 1.5rem 0 1.5rem 0;
    }
    .market{
        padding: 1.5rem 0 1.5rem 0;
    }


}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
        margin-bottom: 0.55rem;
    }

    h2 {
        font-size: 0.75rem;
        margin-bottom: 0.75rem;
    }

    h3 {
        font-size: 0.6rem;
        margin-bottom: 0.3rem;
    }


    p {
        font-size: 0.4rem;
        margin-bottom: 0.75rem;
    }

    ul {
        margin-bottom: 0;
        padding: 0.2rem;
    }

    ul li {
        font-size: 0.4rem;
        padding: 0.1rem;
    }

    .intro {
        margin-bottom: 2rem;
    }

    .about {
        margin-bottom: 2rem;
    }

    footer {
        padding: 2rem 1rem 1rem 1rem;
    }

    .extract {
        font-size: 0.75rem;
    }

}

@media only screen and (max-width: 324px) {
    h1 {
        font-size: 1.2rem;
        margin-bottom: 0.55rem;
    }

    .intro {
        margin-bottom: 1rem;
    }

    .about {
        padding: 2rem 0.5rem;
        margin-bottom: 2rem;
    }

    .extract {
        font-size: 0.75rem;
    }

    .lummorn {
        margin-top: 2.5rem;
    }
}